body{
  margin: 0;
  padding: 0;
  font-family: 'Geometria', sans-serif;
}

.select{
  
  border-radius: 15px;
  width: 22%;
  overflow: hidden;
  padding: 12px 10px;
  margin-left: -12%;
  margin-top: 3%;
  box-shadow: 3px 3px 12px grey;
}

.select:hover{
  opacity: 0.7;
  color: #509FE5;
}

h1{
  margin-left: 3%;
  margin-top: 2%;
  color:#48AF9B;
  font-weight: 800;
  font-size: 2.5em;
}

h3{
  font-size: 1.8em;
  margin-left: 2%;
  color:#48AF9B;
}


.parrafos{
  margin-left: 2%;
  font-size: 1.8em;
}

strong{
  color:#F8B329;
}

.contenedorPadre{
  overflow: hidden;
}

.contenedorImage{
  width: 28%;
  float: right;
}

.contenedorImage img{
  width: 100%;
  float: right;
}

.contenedorParrafos{
  width: 60%;
  float: left;
  margin-left: 2%;
}